@import "tailwindcss";

@keyframes loadingBar {
    from { width: 0%; }
    to { width: 100%; }
}

g{
  margin: auto;
}

.buka-font {
  font-family: 'Nunito', sans-serif;
}

.buka-anim{
  animation: grow 2s linear forwards;
  transform-origin: left;
}

@keyframes grow {
  0% {
    font-size: 15px;
    transform: rotate(0deg);
  }
  25% {
    font-size: 60px;
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(0deg);
    font-size: 60px;
  }
  100%{
    transform: rotate(25deg);
    font-size: 60px;
  }
}